
<table class="table">
<tr>
<td colspan="2"><center><b class="decoheading">Gewonnen hat:</b></center>
</td></tr>
<tr>
	<tr>
<td colspan="2"><center><span class="btn"><%= @winner.name %></span></center>
</td></tr>
<tr>
<td align="center"><span class="names">Count: <%= @winner.count %></span></td>
<td align="center"><span class="names">Score: <%= @winner.score %></span></td>
</tr>
<tr><td ><center><a href="/vote" class="navbutton">Neuer Mädchenname</a></center></td><td ><center><a href="/voteboys" class="navbutton">Neuer Jungenname</a></center></td></tr>
</table>


