
<table class="table">
<tr>
<td colspan="2"><b class="decoheading">Gewonnen hat:</b>
</td></tr>
<tr>
	<tr>
<td colspan="2"><center><span class="btn"><%= @winner.name %></span></center>
</td></tr>
<tr>
<td align="center">Count: <%= @winner.count %></td>
<td align="center"><p>Score: <%= @winner.score %></p>
</td>
</tr>
<tr><td colspan="2"><center><a href="/vote" class="navbutton">Nächster Name</a></center></td></tr>
</table>


